body{
    /*max-width:100%;*/

    box-sizing: border-box;
}
img{
    width:50px;
    height:50px;
    margin-top:-5%;
    opacity: 0.5;
    position: absolute;
    z-index: 99;
    /*-webkit-transform:rotate3d(.6,1,.6,45deg);*/
    /*-moz-transform:rotate3d(.6,1,.6,45deg);*/
    /*-ms-transform:rotate3d(.6,1,.6,45deg);*/
    /*-o-transform:rotate3d(.6,1,.6,45deg);*/
    /*transform:rotate3d(.6,1,.6,45deg);*/

}